{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "always",
  "vueIndentScriptAndStyle": true,
  "singleAttributePerLine": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "strict",
  "jsxSingleQuote": true,
  "proseWrap": "preserve",
  "quoteProps": "as-needed"
}
