:root {
    --color-primary: #0056D2; /* Deep Blue */
    --color-secondary: #FF6B00; /* Vibrant Orange */
    --color-accent: #00CFFD; /* Electric Cyan */
    --color-background: #F8F9FA; /* Light Mode Background */
    --color-text: #2A2A2E; /* Graphite Black for Text */
}

*, *::before, *::after {
    box-sizing: border-box;
}

html,body{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: 320px;
}

main{
    /*Allow the main to grow*/
    flex: 1;
    height: auto;
}

footer{
    /*Footer will stick to the bottom*/
    margin-top: auto;
}